@font-face{
    font-family: "Bleeding_Cowboys";
    src: url("fonts/Bleeding_Cowboys.ttf");
}

#bg-img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100vh;
}

#main_menu_container {
    position: absolute;
    z-index: 100;
}

#main_menu {
    font-family: Bleeding_Cowboys, Verdana, Geneva, sans-serif;
    
    width: 1000px;
    position: absolute;
    margin-left: 50px;
    margin-right: auto;
}

#main_menu h1{
    position: absolute;
    left: 380px;
    top: 75px;
    
    font-size: 100px;
    font-weight: normal;
}

#main_menu ul{
    position: absolute;
    top: 370px;
    
    width: 450px;
    height: 550px;
    
    list-style: none;
    
    background-image: url("../img/menu/scroll_res1.png");
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 70px, 0px 30px 80px;
}

#main_menu ul li:first-child{
    margin-top: 50px;
}

#main_menu ul li{
    padding-left: 105px;
    font-size: 50px;
}
